@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: "Android";
    src: url(fonts/idroid.otf)
    format("opentype");
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}


:root{
    --cor0: #ffffff;
    --cor1: #8388EE;
    --cor2: #3B43EB;
    --cor3: #2E35B8;
    --cor4: #1B1F6B;
    --cor5: #3B3D6B;

    --fonte-padrao:arial, verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}


main{
    background-color: var(--cor0);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main p{
    margin: 15px 0px;

}


img{
    width: 100%;
}

.img-pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}


body{
    background-color:var(--cor1);
    font-family: var(--fonte-padrao);

}



header{
    background-color: var(--cor4);
    height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1{
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.144);
    font-weight: normal;
}

header > p{
    color: white;
    max-width: 600px;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.144);

}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.308);
}

nav > a{
    color: var(--cor0);
    text-decoration: none;
    padding:10px;
    font-weight: bolder;
    border-radius: 5px;
    transition-duration: 0.2s;
}

nav > a:hover{
    background-color: var(--cor2);

}

main  h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main  h2{
    font-family: var(--fonte-android);
    font-weight: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: normal;
}

main p{
    margin:10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main a{
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

.externo::after{
    content: '\00A0\1F517';
}

div.video{
    background-color: var(--cor4);
    margin-bottom:30px;
    margin:0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width:90%;
    height:90%;
    border-radius: 5px;
}


aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.349);
}

aside > ul{
    columns: 2;
    list-style-position:inside;
    list-style-type: '\2714\00A0\00A0';
}

aside > h3{
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: var(--cor0);
}


footer{
    background-color: var(--cor5);
    color: var(--cor0);
    text-align: center;
    font-size: 0.8em;
    
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

